# 默认忽略的文件
/shelf/
/workspace.xml
# Rider 忽略的文件
/modules.xml
/.idea.ClassIsland.iml
/contentModel.xml
/projectSettingsUpdater.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# AI 助手 / 插件 / 本地状态
/CopilotChatHistory.xml
/MarsCodeWorkspaceAppSettings.xml
/material_theme_project_new.xml
/protoeditor.xml
/indexLayout.xml
/misc.xml
